{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                new user
            </div>
        </div>
    </div>

{% endblock %}
