{% extends "AdminBundle:Layouts:master.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row" id="colors">
            <div class="span12"><h3>Gestion des couleurs</h3></div>
        </div>
        <div id="eventtypes" class="row">
            <div class="span12"><h3>Gestion des types d'événement</h3></div>
        </div>
        <div id="iucn" class="row">
            <div class="span12"><h3>Liste IUCN</h3></div>
        </div>
        <div id="weights" class="row">
            <div class="span12"><h3>Gestion des poids</h3></div>
        </div>
        <div id="sexes" class="row">
            <div class="span12"><h3>Liste des sexes</h3></div>
        </div>
    </div>
{% endblock %}
