{% extends "AdminBundle:Layouts:master.html.twig" %}

{% form_theme form ":Form:bootstrap_form_horizontal.html.twig" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <form action="{{ path("admin_misc_color_create") }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Enregistrer">
                    <input type="reset" class="btn" value="Annuler">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
